@font-face {
    font-family: UniSans;
    src: url(uni-sans.thin-caps.otf);
}

/* *{
    border: 1px solid red;
} */
body{
    color: whitesmoke;
    /* background-color: #36393F; */
    background-color: white;
    font-family: UniSans;
    margin: 0;
}

.side-bar{
    background-color: #2b2d31;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 5px;
}

.side-bar #logo{
    background-color: #7289DA;
}
.side-bar #logo>i{
    color: white; 
}

.side-bar #line{
    width: 100%;
    border: 1px solid #36393F;
    border-radius: 5px;
}

.side-bar #first{
    background-image: url(img/img1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-bar #second{
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-bar #third{
    background-image: url(img/img3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.side-bar button{
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #36393F;
    color: white;
    text-align: center;
    font-size: larger;
}

.side-bar button:hover{
    border-radius: 8%;
    background-color: #7289DA;
    color: white;
}

.side-bar i{
    color: #43B851;
}

#server:hover{
    background-color: #43B851;
}

#server:hover i{
    color:white;
}

.main{
    margin-left: 62px;
    padding: 0px 10px;
    background-color: white;
}

/* This side bar 2 */
.side-bars{
    background-color: #2F3136;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding-top: 10px;
}

.side-bars img{
    width: 20%;
    height: max-content;
    object-fit: cover;
}

.side-bars input {
    margin-left: 8px;
    background-color: #2b2d31;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 150px;
}

::placeholder{
    color: white;
}

.side-bars #line{
    border: 0.5px solid white;
    border-radius: 5px;
}

.side-bars button {
    margin-left: 8px;
    border: none;
    padding: 7px;
    margin-top: 5px;
    border-radius: 5px;
    width: 90%;
    height: 40px;
    text-align: left;
    color: white;
    /* background-color: rgb(99, 99, 99); */
    background-color: #2F3136;
    /* background: url(img/img2.png) #2F3136 no-repeat left ; */
}

.side-bars button:hover{
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
}

.side-bars button>i{
    margin: 0 10px 0 10px;
}

/* .listNama button>i{
    float: right;
} */


.side-bars p{
    padding: 7px;
}

.side-bars p>i{
    float: right;
}

.content{
    margin-left: 210px;
    position: relative;
}

.top-nav {
  background-color: #282a2c;
  /* width:104%; */
  /* z-index: 1; */
  top: 0;
  overflow-x: hidden;
  height: 50px;
  position: fixed;
  width: 1300px;

}
  
  .top-nav .fa-users{
    color: white;
    float: left;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
  }
  
  .top-nav button{
    float: left;
    display: block;
    color: white;
    background-color: #36393F;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 18px;
    padding-right: 5px;
    border-radius: 5px;
  }
  .top-nav button:hover{
    background-color: lightslategray;
  }
  
  .top-nav .kanan{
    float: right;
    margin-top: 15px;
    background-color: #36393F;
  }
  .top-nav .i{
    margin-top: 20px;
  }
  
  .top-nav .addFriend{
    float: left;
    display: block;
    color: white;
    background-color: #36393F;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 15px;
    font-size: 18px;
    background-color: green;
    border-radius: 5px;
  }
  /* Change color on hover */
  .top-nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .bagian-3{
      background-color: #36393F;
      height: 100%;
      width: 570px;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 10px;
      border-top-left-radius: 10px;
      margin-top: 1000px;
      margin-left: 197px;
  }

  .content-3{
    /* box-sizing: border-box; */
    margin-left: 3px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 25px;
    width: 600px;
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    overflow: auto;
    background-color: #36393F;
}

  .content-3 button{
    border: none;
    padding: 7px;
    /* margin-left: 1px; */
    border-radius: 5px;
    width: 600px;
    height: 50px;
    margin-top: 5px;
    text-align: left;
    color: white;
    /* background-color: rgb(99, 99, 99); */
    background-color: #36393F;
  }

  .content-3 button:hover{
      background-color: rgb(99, 99, 99);
      border-radius: 5px;
  }

  .content-3 input {
    margin-left: 3px;
    background-color: #2b2d31;
    color: white;
    border: none;
    padding: 7px;
    width: 500px;
    border-radius: 5px;
}

.content-3 #line{
    border: 0.5px solid white;
    border-radius: 5px;
}

.content-3 button{
    padding: 7px;
}

.content-3 button>i{
    float: right;
    padding-left: 10px;
    padding-right: 20px;
}


.bagian-4{
    margin-left: 628px;
    margin-top: 50px;
    padding-top: 20px;
    padding-left: 25px;
    /* width: 500px; */
    height: 100%;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    background-color: #36393F;
    /* background-color: red; */
}


h2{
    color: white;
}
h3{
    text-align: center;
    color: white;
}
h4{
    text-align: center;
    color: white;
}

.side-bars img {
    float: left;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

.side-bars .nama{
    line-height: 30px;
}

.side-bars .nama {
    margin-left: 10px;
    margin-top: 30px;
}

.side-bars .close {
    float: right;
    cursor: pointer;
    line-height: 25px;
    display: none;
}

.user:hover .close {
    display:block ;
}
